<HTML><HEAD>
	<TITLE>Bladeguard Tracker Admin Frontent</TITLE>
	<LINK rel="stylesheet" type="text/css" href="/admin/static/css/main.css" />
	<LINK rel="stylesheet" type="text/css" href="/static/js/ext/resources/css/ext-all.css" />
	<SCRIPT type="text/javascript" src="/static/js/ext/ext-all.js"></SCRIPT>
	<SCRIPT type="text/javascript" src="/static/js/ext/locale/ext-lang-de.js"></SCRIPT>
	<SCRIPT type="text/javascript" src="/admin/static/js/app.js"></SCRIPT>
	<SCRIPT type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmp0-8zQX7MPin3jPgcmc-DqP7oSFA4v4&sensor=false"></SCRIPT>
	<LINK rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</HEAD><BODY>
</BODY></HTML>
