<% layout('web') -%>
<% block('title', 'Download') -%>
<p>Die App "Bladeguard Tracker" steht kostenlos für Android und iOS zur Verfügung.</p>
<p>
	<a target="_blank" href="https://play.google.com/store/apps/details?id=net.djmacgyver.bgt"><img alt="Android app on Google Play" src="https://developer.android.com/images/brand/de_app_rgb_wo_45.png" /></a>
	<a target="_blank" href="https://itunes.apple.com/de/app/bladeguard-tracker/id546499726"><img alt="iOS app on the app store" src="/static/img/Available_on_the_App_Store_Badge_DE_135x40.png" /></a>
</p>
