<% layout('web') -%>
<% block('title', 'Impressum') -%>
<h1>Impressum</h1>
<p>Der Bladeguard Tracker wird betrieben von:</p>
<address>
  <strong>Jakob Ketterl</strong><br>
  Zillertalstr. 29<br>
  81373 München<br>
</address>
