<%
    if (weather) { %> <div class="weather">
        <img src="<%= weather.image %>">
        <div class="text">
            <div>Wettervorhersage:</div>
            <div><%= weather.low %>°C bis <%= weather.high %>°C <%= weather.text %></div>
        </div>
    </div><% }
%>
