<!DOCTYPE html>
<HTML><HEAD>
    <TITLE><%- blocks.title %> - Bladeguard Tracker</TITLE>
    <%- blocks.meta %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/web.css" />
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="rjegemwFIaMmnaVN7tiB5JcheB9EdYZM9VDswPH2k58" />
    <LINK rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</HEAD><BODY>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="logo" src="/static/img/logo.png">Bladeguard Tracker
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mainnav">
                <ul class="navbar-nav nav">
                    <li><a href="/event.html">Termine</a></li>
                    <li><a href="/download.html">Download</a></li>
                    <li><a href="/impressum.html">Impressum</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</BODY></HTML>
