@font-face {
	font-family: 'DINLight';
	src: url('../fonts/dinlight.ttf');
}

@font-face {
	font-family: 'Tahoma';
	src: url("../fonts/tahoma.ttf");
}

body {
	font-family:Tahoma;
}

.header {
	height:90px;
	border-bottom: 1px solid #ddd
}

.header img.logo {
	height:80px;
	margin:5px;
}

.body {
	width:800px;
	margin: 0 auto;
}

.navigation {
	width:200px;
	float:left;
}

.content {
	width:600px;
	float:left;
}

.clear {
	clear:both;
}

.header .body div,
.header .body img {
	float:left;
}

.header .body .headline {
	font-size: 32pt;
	margin-left:20px;
	margin-top:20px;
}
