@font-face {
	font-family: 'DINLight';
	src: url('../fonts/dinlight.ttf');
}

@font-face {
	font-family: 'Tahoma';
	src: url("../fonts/tahoma.ttf");
}

.navbar img.logo {
	height:32px;
	margin-top:-7px;
    margin-right:10px;
}

.clear {
	clear:both;
}

body {
    padding-top: 70px;
}

img.ampel {
    padding-right: 20px;
    float: left;
}

.events td.icon {
    width: 20px;
}

.past-years {
    display: inline;
    margin-left: 5px;
}

.stats .panel img {
    width: 100% !important;
    height: auto !important;
}

.panel img.panel-body {
    padding: 5px;
}

.weather img {
    float: left;
}
