<HTML><HEAD prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# de-justjakob-bgt: http://ogp.me/ns/fb/de-justjakob-bgt#">
	<meta property="fb:app_id" content="514215418600631" /> 
	<meta property="og:type"   content="de-justjakob-bgt:blade_night" /> 
	<meta property="og:url"    content="<%= url %>" /> 
	<meta property="og:title"  content="<%= event.title %>" /> 
	<meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
	<TITLE><%= event.title %></TITLE>
</HEAD><BODY>
	<H1><%= event.title %></H1>
</BODY></HTML>
