<% layout('../web') -%>
<% block('title', 'Event List') -%>
<%
	var year = new Date().getFullYear();
	events.forEach(function(event){
		if (event.start.getFullYear() < year) return;
		%>
			<div><a href="event/<%= event.id %>.html"><%= event.title %></a></div>
		<%
	});
%>
